[run]
omit =
    benchmarks/*
    tests/*
    tools/*
    common/*
    delta_stats/*
    graph_analysis/*
    mark_counts/*
    orchestrator/*
    **/__main__.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
